{# on vérifie qu'une image est bien associée à l'article #}
{% if article.image is not null %}
    <div class="container-fluid">
        <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" class="img-responsive"/>
    </div>
{% endif %} 