{# on affiche les tags éventuels #}
{% if article.tags.count > 0 %}
    <p class="article-categories">
        <i><span class="el-icon-tags"></span> :
        {% for tag in article.tags %}
                <a class="tag" href="{{ path('portfolioremyarticles_tag', {'tag': tag.nom}) }}"><span class="label">{{ tag.nom }}</span></a>
        {% endfor %}
        </i>
    </p>
{% endif %}