{# si on est sur la page d'accueil, on fait un lien vers l'article, sinon non #}
{% if accueil %}
{# attention j'ai modifié le lien avec le param slug #}
<h2 class="article-titre-accueil">
    <a href="{{ path('portfolioremyarticles_voir', {'slug': article.slug} ) }}">{{ article.titre }}</a>
</h2>
{% else %}
<h2 class="article-titre">
    {{ article.titre }}
</h2>
{% endif %}
