{# on affiche les catégories éventuelles #}
{% if article.categories.count > 0 %}
    <p class="article-categories">
        <i><span class="el-icon-bookmark"></span> :
        {% for categorie in article.categories %}
                <a href="{{ path('portfolioremyarticles_categorie', {'categorie': categorie.nom}) }}"><span class="label label-success">{{ categorie.nom }}</span></a>
        {% endfor %}
        </i>
    </p>
{% endif %}