<p class="article-resume">
    {% if accueil %}
        {{ article.resume }}...<a href="{{ path('portfolioremyarticles_voir', {'slug': article.slug} ) }}"> {{ 'portfolioremy.articles.more'|trans }}</a>
    {% else %}
        {{ article.contenu | markdown }}
    {% endif %}
</p>