{# on utilise une variable temporaire, qu'on définit à false si elle n'est pas déjà définie #}
{% set accueil = accueil|default(false) %}

<article class="article ombre well">
    {% block portfolioremyarticles_image %}
        {% include "PortfolioRemyArticlesBundle:Articles:articleImage.html.twig" %}
    {% endblock %}

    {% block portfolioremyarticles_titre %}
        {% include "PortfolioRemyArticlesBundle:Articles:articleTitre.html.twig" %}
    {% endblock %}

    {% block portfolioremyarticles_contenu %}
        {% include "PortfolioRemyArticlesBundle:Articles:articleContenu.html.twig" %}
    {% endblock %}
    
    {% block portfolioremyarticles_categories %}
        {% include "PortfolioRemyArticlesBundle:Articles:articleCategories.html.twig" %}
    {% endblock %}
    
    {% block portfolioremyarticles_tags %}
        {% include "PortfolioRemyArticlesBundle:Articles:articleTags.html.twig" %}
    {% endblock %}
        
    <div class="row-fluid">
        {# on affiche la date en fonction de la langue locale #}
            <div class="span4"><time class="article-time"><i>{{ article.date|localizeddate('medium','none') }}</i></time></div>
        {# on affiche le nombre de vues #}
        <div class="span7 article-nbVues"><i><span class="el-icon-ok"></span> {{ 'portfolioremy.articles.seen'|trans }} {{ article.nbVues }} {{ 'portfolioremy.articles.times'|trans }}</i></div>
        
    </div>
    
</article>