{# on affiche les tags éventuels #}
{% if article.tags.count > 0 %}
    <p class="article-categories">
        <i><span class="el-icon-tags"></span> :
        {% for tag in article.tags %}
            <span class="label">{{ tag.nom }}</span>
        {% endfor %}
        </i>
    </p>
{% endif %}