body {
    padding-top: 40px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.welcome{
    color: #ffffff !important;
    /*padding-left: 50px;*/
    /*line-height: 40px;*/
}

#header{
    padding: 20px 15px 20px;
    background-image: url(/uploads/img/nuages-eclaires.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.article-nbVues {
    color: #999999;
    text-align: right;
    /*margin-bottom: 0px;*/
}

.article.ombre {
    -moz-box-shadow: 5px 5px 20px 0px #cfcfcf;
    -webkit-box-shadow: 5px 5px 20px 0px #cfcfcf;
    -o-box-shadow: 5px 5px 20px 0px #cfcfcf;
    box-shadow: 5px 5px 20px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=20);
}

.description {
    color: #cfcfcf;
}

.nav.contenu-bas > li {
    padding: 10px 15px 10px !important;
    color: #999999 !important;
}

.menuLeft,
.articles-titre {
    font-size: 1.3em;
}

.article-categories,
.article-time,
.article-nbVues {
    font-size: 0.85em;
}

.article-resume {
    font-size: 0.9em;
}

.article-titre {
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.article-categories {
    margin-bottom: 0px;
}

.blocMenuLeft {
    margin-bottom: 10px;
    padding: 8px;
    /*border: 1px solid #e3e3e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
}

hr {
    margin: 0px !important;
}

.menuLeft {
    margin: 0px;
}

ul.nav.nav-pills.nav-stacked {
    margin: 0px;
}

.contactMessage {
    /*width: auto;*/
}

#menu {
    border-right: 2px solid #e3e3e3;
    margin-left: 28px !important;
}

.favicon {
    padding-bottom: 10px !important;
}

.footer-link {
    padding: 0px 0px 0px !important;
    display: inline !important;
}

.feedback .feedback-link {
    position: fixed;
    left: 0;
    top: 50%;
}

.feedback .trigger {
    color: #fff;
    background-color: #73d631;
    display: block;
    line-height: 50px;
    height: 41px;
    font-weight: bold;
    padding: 0 10px;
    margin-left: -28px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.feedback a {
    color: #73d631;
}

a, a:hover {
    text-decoration: underline;
    color: #333;
}

.tag .label:hover, .categorie .label.label-success:hover {
    background-color: #ed7f10;
}